*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}
.grid-container{
    padding: 10px;
    height: 100vh;
    background-color: rgb(18, 15, 244);
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px ;
}
.grid-item{
    background-color:rgb(5, 98, 34);
    padding:10px;
}
.grid-item:nth-child(even){
    background-color: rgb(49, 121, 146);
    
}
#grid-header{
    grid-column: 1/-1 ;
}
#grid-content{
    grid-row:  2/ 4;
    grid-column: 1/ 2;
}
#grid-content1{
    grid-row:  2/ 3;
    grid-column: 2 /-1 ;
}