*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}
.grid-container{
    padding: 10px;
    height: 100vh;
    background-color: rgb(22, 21, 73);
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px ;
}
.grid-item{
    background-color:rgb(5, 98, 34);
    padding:10px;
}
.grid-item:nth-child(even){
    background-color: rgb(49, 121, 146);
    
}
#h{
    background-color: aquamarine;
}
#h1{
    background-color: aqua;
}
#h2{
    background-color: blanchedalmond;
}
#h3{
    background-color: rgb(93, 173, 77);
}
#h4{
    background-color: blue;
}
#h5{
    background-color: blueviolet;
}
#grid-header{
    grid-column: 1/-1 ;
    background-color: aquamarine;
}
#grid-content{
    grid-row:  2/ 4;
    grid-column: 1/ 2;
    background-color: bisque;
}
#grid-content1{
    grid-row:  2/ 3;
    grid-column: 2 /-1 ;
    background-color: rgb(128, 82, 25);
}
.grid-container1{
    padding: 10px;
    height: 100vh;
    background-color: rgb(1, 54, 10);
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px ;
}

.grid-container3{
    padding: 10px;
    height: 100vh;
    background-color: rgb(49, 49, 92);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px ;
    grid-template-areas: 
        "header header header"
        ". content ."
        ". content .";
}
#grid-header3{
    grid-column: 1 / 4 ;
    background-color: blue;
}
#grid-conten{
    grid-column:  4 / -1;
    background-color: blueviolet;
}
#grid-contentt{
    grid-column: 1 / 6;
    background-color: rgb(128, 82, 25);
}
#bar3{
    grid-column: 6 / -1;
    background-color: rgb(59, 121, 69);
}
#grid-footer1{
    grid-column: 1 / -1;
    background-color: rgb(9, 174, 36);
}
.grid-container2{
    padding: 5px;
    background-color: #ddd;
    height: 100vh;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}
#grid-el{
    /grid-area: header;
    background-color: rgb(27, 159, 30);
    grid-column: 1/ span 2;
}
#grid-el1{
    /grid-area: header;/
    background-color: rgb(12, 111, 181);
    grid-column: 3/ span 4;
}
#grid-el2{
    /grid-area: content;
    background-color: rgb(43, 18, 133);
    grid-column: 1/ span 2;
    grid-row: 2/ span 3;
}
#grid_content1{
    /grid-area: content;
    background-color: lightblue;
    grid-column: 3 / span 2;
    grid-row: 2 / span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
#grid-el3{
    /grid-area: content;
    background-color: rgb(166, 27, 27);
    grid-column: 1 / span 2;
}
#grid-el4{
    /grid-area: content;
    background-color: rgb(27, 159, 30);
}
#grid-el5{
    /grid-area: content;
    background-color: rgb(150, 208, 49);
}
